<!DOCTYPE html>
<html ng-app="PeopleApp">
<head>
  <title>Community DB</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
 </head>
<body style="padding-top: 10px">

<div class="container" ng-controller="ctrlPeople">
    <h2>AngularJS/CouchDB + CornerCouch Community DB</h2>

    <h3>Community DB entries <small>(click for detail)</small></h3>
    <table
        id="peopleGrid"
        class="table table-striped"
        datatables="overrideOptions"
        aa-data="peopledb.rows"
        fn-row-callback="myCallback"
        ao-column-defs="columnDefs"
    >
        <thead>
        <tr>
            <th>ID</th>
            <th>All Json</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Twitter</th>
        </tr>
        </thead>
    </table>
    <div>
    <form name="formNewPeople" class="offset1 span5" ng-submit="submitEntry()">
    <button class="submit" ng-disabled="formNewPeople.$invalid">New people</button>
    </form>
    <br/><br/><br/>
    </div>

    <div class="alert alert-info" ng-show="detail._id">
        <div class="navbar" ng-show="detail._attachments">
            <div class="navbar-inner">
                <a class="brand">Attachments:</a>
                <ul class="nav" ng-repeat="(name,info) in detail._attachments">
                    <li class="divider-vertical"></li>
                    <li><a href="{{ detail.attachUri(name) }}" target="_blank"></i>{{ name }}</a></li>
                    <li><i class="icon-remove" ng-click="detachClick(name)"></i></li>
                </ul>
            </div>
        </div>
        <div class="btn btn-primary span2" style="float: right" ng-click="removeClick()">Remove</div>
        <h4>{{detail.personalInformation.firstName}} {{detail.personalInformation.lastName}}</h4>
        <p>_id = "{{detail._id}}", _rev ="{{detail._rev}}"</p>

        <div class="alert alert-error" ng-show="errordata">{{ errordata | json }}</div>

        <form name="formDetail" class="form-horizontal">
            <div class="btn btn-primary span2" style="float: right" ng-click="updateClick()" ng-show="formDetail.$dirty">Update people</div>


            <fieldset ng-repeat="section in jsonPeopleModel"><legend>{{section.display}}</legend>
                <div class="control-group" ng-repeat="prop in section.values">
                    <label for="{{section.key}}_{{prop.key}}" class="control-label">{{prop.display}}</label>
                    <div class="controls">
                    <input id="{{section.key}}_{{prop.key}}" type="text" class="span5" ng-model="detail[section.key][prop.key]">
                </div>
                </div>
            </fieldset>

            <fieldset><legend ng-show="detail.actions.length">Actions</legend>
            <div ng-repeat="action in detail.actions">
                <h4>Action {{$index+1}}</h4>
                <div class="control-group" ng-repeat="prop in jsonPeopleActionModel">
                    <label for="action_{{$index}}_{{prop.key}}" class="control-label">{{prop.display}}</label>
                    <div class="controls">
                    <input id="action_{{$index}}_{{prop.key}}" type="text" class="span5" ng-model="action[prop.key]">
                </div>
                </div>
            </div>
            </fieldset>

          <div class="btn btn-primary span2" style="float: right" ng-click="updateClick()" ng-show="formDetail.$dirty">Update people</div>
        </form>

        <div>
            <form name="formAddAction" class="form-horizontal">
            <fieldset><legend>Add an action</legend>
                <div class="control-group" ng-repeat="prop in jsonPeopleActionModel">
                    <label for="newAction_{{prop.key}}" class="control-label">{{prop.display}}</label>
                    <div class="controls">
                    <div ng-switch on="prop.type">

                    <input ng-switch-when="datepicker" id="newAction_{{prop.key}}" type="text" class="span5 datepicker" ng-model="newAction[prop.key]" ui-date ui-date-format="yy-mm-dd" />
                    <textarea ng-switch-when="textarea" id="newAction_{{prop.key}}" type="" class="span5" ng-model="newAction[prop.key]"></textarea>
                    <input ng-switch-when="checkbox" id="newAction_{{prop.key}}" type="checkbox" class="span5" ng-model="newAction[prop.key]" />
                    <input ng-switch-default id="newAction_{{prop.key}}" type="text" class="span5" ng-model="newAction[prop.key]" />
                    </div>
                </div>
                </div>
                <div class="btn btn-primary span2" style="float: right" ng-click="addActionClick()" ng-show="formAddAction.$dirty">Create action</div>
            </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script src="lib/angular-cornercouch.js"></script>
<script src="lib/angular-datatables.js"></script>
<script src="lib/angular-ui-date.js"></script>

<script>
var peopleApp = angular.module('PeopleApp', ['CornerCouch', 'DataTables', 'ui.date']);

//from http://stackoverflow.com/questions/14242455/using-jquery-datatable-with-angularjs
//full ex: http://jsfiddle.net/zdam/7kLFU/


function ctrlPeople($scope, $filter, cornercouch) {
//    $scope.server = cornercouch("http://localhost:5984");
    $scope.server = cornercouch();
    $scope.server.session();
    $scope.peopledb = $scope.server.getDB('couchdb/people');
    $scope.newentry = $scope.peopledb.newDoc();
    $scope.peopledb.query("people-views", "all_people", { include_docs: true, descending: false });

    $scope.newAction = createAction();


    function setError(data, status) {
        $scope.errordata = { "status": status, "data": data };
    }

    function createAction() {
        var now = new Date();
        return {
            "date" : $filter('date')(now, 'yyyy-MM-dd')
          , "fromUs": "false"
          , "details": ""
        }
    }

    function getModel(section, prop) {
        return $scope.detail.section.prop
    }

    //template for our people
    $scope.jsonPeopleModel = [
        {   "key"    : "personalInformation"
          , "display": "Personal Information"
          , "values" : [
                { "key":"firstName", "display": "First Name" }
              , { "key":"lastName" , "display": "Last Name" }
              , { "key":"email"    , "display": "Email" }
              , { "key":"address"  , "display": "Personal Address" }
              , { "key":"city"     , "display": "City" }
              , { "key":"state"    , "display": "State" }
              , { "key":"country"  , "display": "Country" }
              , { "key":"jobTitle" , "display": "Job Title" }
              , { "key":"blog"     , "display": "Blog URL" }
            ]
        }
       , {  "key"    : "company"
          , "display": "Company"
          , "values" : [
                { "key":"name"   , "display": "Name" }
              , { "key":"country", "display": "Country" }
              , { "key":"address", "display": "Address" }
              , { "key":"website", "display": "Web Site" }
            ]
        }
      , {   "key"    : "twitter"
          , "display": "Twitter"
          , "values" : [
                {  "key":"screenName", "display": "Screen Name" }
		,{ "key":"nbFollowers", "display": "Number of followers" }
            ]
        }
    ]

    //Js is ****. In a.b.c, if b is not defined,
    //we get an exception (a.b.c = "x" with c undefined is ok)
    function initPeople(people) {
        for(var i in $scope.jsonPeopleModel) {
           var section = $scope.jsonPeopleModel[i];
            if(!(people).hasOwnProperty(section.key)) {
                people[section.key] = {};
            }
        }
        return people;
    }

    $scope.jsonPeopleActionModel = [
        { "key":"date"   , "display":"Date"   , "type": "datepicker"}
      , { "key":"fromUs" , "display":"From Us", "type": "checkbox"  }
      , { "key":"details", "display":"Details", "type": "textarea"  }
    ]


    //define what each column of the grid
    //get from the JSON people
    $scope.columnDefs = [
        { "aTargets":[0], "mData": "doc._id", "bVisible": false, "sWidth": "1px"}
      , { "aTargets":[1], "mData": "doc", "bVisible": false, "sWidth": "1px"}
      , { "aTargets":[2], "mData": "doc.personalInformation.firstName", "sDefaultContent": "" }
      //get("doc.personalInformation.firstName")}
      , { "aTargets":[3], "mData": "doc.personalInformation.lastName", "sDefaultContent": "" }
      , { "aTargets":[4], "mData": "doc.twitter.screenName", "sDefaultContent": "" }
    ]

    $scope.overrideOptions = {
        "bStateSave": true,
        "iCookieDuration": 2419200, /* 1 month */
        "bJQueryUI": true,
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": true,
        "bDestroy": true
    };

    $scope.myCallback = function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        $('td', nRow).bind('click', function() {
            $scope.$apply(function() {
                $scope.rowClick(nRow._DT_RowIndex);
            });
        });
        return nRow;
    };

    $scope.rowClick = function(idx) {
        //getQueryDoc make the link with save/remove/etc
        $scope.detail = $scope.peopledb.getQueryDoc(idx);
        initPeople($scope.detail)
        //prepare new action
        $scope.formDetail.$setPristine;
    };

    $scope.addActionClick = function() {
        if(!$scope.detail.actions) {
            $scope.detail.actions = [ $scope.newAction ]
        } else {
            $scope.detail.actions[$scope.detail.actions.length] = $scope.newAction
        }
        $scope.newAction = createAction();
        $scope.updateClick()
        $scope.formAddAction.$setPristine;
    }

    // $scope.nextClick = function() { $scope.peopledb.queryNext(); delete $scope.detail; };
    // $scope.prevClick = function() { $scope.peopledb.queryPrev(); delete $scope.detail; };

    $scope.removeClick = function() {
        $scope.detail.remove()
            .success(function() {
                delete $scope.detail;
                $scope.peopledb.queryRefresh();
            });
    };

    $scope.updateClick = function() {
        $scope.detail.save()
            .error(setError)
            .success( function () {
                $scope.peopledb.queryRefresh();
                $scope.formDetail.$setPristine;
            });
    };

    $scope.attachClick = function() {

        var fileInput = document.getElementById("upload");
        if (fileInput.files.length === 0) return;

        $scope.detail.attach(fileInput.files[0])
            .error(setError)
            .success( function () {
                fileInput.value = "";
            });
    };

    $scope.detachClick = function(name) {
            $scope.detail.detach(name);
    };

    $scope.submitEntry = function() {

        $scope.newentry.personalInformation = { "firstName":"<new people>"};
        initPeople($scope.newentry);
        $scope.newentry.save().success( function() {
            delete $scope.errordata;
            $scope.detail = $scope.newentry;
            $scope.newentry = $scope.peopledb.newDoc();
            $scope.peopledb.queryRefresh();
        });
    };
}
</script>
</body>
</html>
